root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent

# IDE0009: Name can be simplified
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0009.severity = none

[*.md]
max_line_length = off
trim_trailing_whitespace = false
